.screen {
  height: 226px;
  background: #e2e9e7;
  display: flex;
  justify-content: flex-end;
  .output {
    align-self: flex-end;
    padding: 2.5rem 1rem;
    font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}